<% include ../includes/header %>
    <div class="container">
        <div class="row">
            <form method="POST" action="/admin/goods/new" class="form-horizontal" enctype="multipart/form-data">
                <% if(goods._id){ %>
                    <p>id!</p>
                    <input type="hidden" name="goods[_id]" value="goods._id">
                <% } %>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">商品名字</label>
                    <div class="col-sm-7">
                        <input type="text" id="name" name="goods[name]" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCategory" class="col-sm-3 control-label">商品分类</label>
                    <div class="col-sm-7">
                        <input type="text" id="inputCategory" class="form-control" name="goods[categoryName]">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">分类选择</label>
                    <% for(var i=0 ; i < categories.length ;i++){ %>
                        <label for="" class="radio-inline">
                            <% if(goods._id) {%>
                                <input type="radio" name="goods[category] value="cat._id" checked = <%= cat._id == goods.category%>>
                                 <span><%= categories[i].name %></span>
                            <% }else{ %>
                                <input type="radio" name="goods[category]" value="cat._id"> 
                                <span><%= categories[i].name %></span>
                            <% } %>
                        </label>
                    <% } %>
                </div>
                <div class="form-group ">
                    <label for="pirce " class="col-sm-3 control-label ">价格</label>
                    <div class="col-sm-7 ">
                        <input type="text " id="pirce " name="goods[pirce] " class="form-control " >
                    </div>
                </div>
                <div class="form-group ">
                    <label for="area " class="col-sm-3 control-label ">区域</label>
                    <div class="col-sm-7 ">
                        <input type="text " id="area " name="goods[area] " class="form-control " >
                    </div>
                </div>
                <div class="form-group ">
                    <label for="degree " class="col-sm-3 control-label ">新旧程度</label>
                    <div class="col-sm-7 ">
                        <input type="text " id="degree " name="goods[degree] " class="form-control " >
                    </div>
                </div>
                <div class="form-group ">
                    <label for="uploadPic " class="col-sm-3 control-label ">图片上传</label>
                    <div class="col-sm-7 ">
                        <input type="file" id="uploadPic" name="uploadPic" >
                    </div>
                </div>
                <div class="form-group ">
                    <label for="summary " class="col-sm-3 control-label ">详细介绍</label>
                    <div class="col-sm-7 ">
                        <input type="text " id="summary " name="goods[summary] " class="form-control " >
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-sm-offset-3 col-sm-6 ">
                        <button class="btn btn-default " type="submit ">录入</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<% include ../includes/foot %>